.input-group-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-left: 0px;
}
.search-input{
width: 320px!important;
border-right: 0px;
}   